* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #141414;
    color: #f1f1f1;
    line-height: 1.6;
}

.capa {
    position: relative;
    height: 100vh;
    background-color: #000;
    background-image: url('img/fundo.jpg'); /* Aqui você coloca o caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.imgContainer {
    display: none;
}

.tema {
    position: absolute;
    z-index: 10;
    text-align: center;
}

.tema h1 {
    font-size: 4rem;
    color: #e62429;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.tema p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 40px;
}

.tema a {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: #e62429;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.tema a:hover {
    background-color: #d41c24;
}

@media (max-width: 768px) {
    .tema h1 {
        font-size: 2.5rem;
    }

    .tema p {
        font-size: 1rem;
    }

    .tema a {
        font-size: 1rem;
        padding: 12px 25px;
    }
}

