*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 20px;
}
section:nth-child(even){
    background-color: #ccc;
}

section div{
    max-width: 50vw;
}

.capa .tema{
    text-align: center;
}

img{
   width: 100%; 
   height: 100%;
}

p{
    word-wrap: break-word;
}

.imgContainer{
    width: 380px;
    height: 300px;
}